/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url('src/assets/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }